.terms-wrapper{
  margin-top: 3rem;

  /*Espaçamento entre eles*/
  display:flex;
  gap:0.75rem;
  align-items: flex-start;

  & strong{
    font-weight: 500; /*Tirando um pouco do peso da font*/
    color: var(--text-highlight);
  }
}

.checkbox-wrapper{
  position: relative;

  & [type="checkbox"] {
    all: unset;/*Tudo que tiver antes de código quero que seja retirado*/
    position: absolute;
    inset: 0;
  }

  .checkbox-image {
    flex: 0 0 1.5rem;
    height: 1.5rem;
    
    background-image: url(../../assets/icons/checkbox-default.svg);
  }
  /*Quando passar o mouse em cima do elemento e quando eu focar no elemento, que no caso é o input que está escondido*/
  &:hover, &:focus-within{
    .checkbox-image{
      background-image: url(../../assets/icons/checkbox-hover.svg);
    }
  }

  &:has(:checked) .checkbox-image {
        background-image: url(../../assets/icons/checkbox-checked.svg);
    }
}
